README.md
.config/opencode/node_modules/
.config/opencode/node_modules/**
.config/nvim/.git
.config/nvim/.git/**
.config/nvim/lazy-lock.json

# --- Window manager specific ---

{{ if ne .wm "hyprland" }}
.config/hypr/
.config/hypr/**
.config/waybar/
.config/waybar/**
.config/wofi/
.config/wofi/**
run_onchange_install-hyprland.sh
{{ end }}

{{ if ne .wm "i3" }}
.config/i3/
.config/i3/**
.config/polybar/
.config/polybar/**
.config/rofi/
.config/rofi/**
.config/picom/
.config/picom/**
.config/autostart/caps-to-ctrl.desktop
.xsession
run_onchange_install-i3.sh
{{ end }}

{{ if eq .wm "none" }}
.config/dunst/
.config/dunst/**
.config/wallpaper/
.config/wallpaper/**
.config/autostart/
.config/autostart/**
run_onchange_install-desktop-runtime.sh
{{ end }}

# --- Windows ---

{{ if eq .chezmoi.os "windows" }}
.config/kitty/
.config/kitty/**
.config/yazi/
.config/yazi/**
.inputrc
.tmux.conf
run_onchange_install-devtools.sh
run_onchange_install-neovim.sh
run_onchange_install-fonts.sh
run_onchange_bat-build-cache.sh
run_once_install-desktop-apps.sh
{{ end }}
