{{- $choices := list "private" "work" -}}
{{- $workspace:= promptChoiceOnce . "workspace" "Workspace?" $choices "private" -}}
{{- $wmChoices := list "hyprland" "i3" "none" -}}
{{- $wm := promptChoiceOnce . "wm" "Window manager?" $wmChoices "none" -}}

data:
  # Any of `private`, `work`
  workspace: {{ $workspace }}

  # Any of `hyprland`, `i3`, `none`
  wm: {{ $wm }}

  # Git Setup.
  git:
    {{- if contains $workspace "work" }}
    userEmail: michael.baumann@helbling.ch
    userName: mib
    {{- else }}
    userEmail: mikebaumann@bluewin.ch
    userName: mi-b
    {{- end }}
