README.md
docs/
docs/**
scripts/
scripts/**
.config/nvim/.git
.config/nvim/.git/**
.config/nvim/lazy-lock.json

# --- Window manager specific ---

{{ if ne .wm "hyprland" }}
.config/hypr/
.config/hypr/**
.config/waybar/
.config/waybar/**
.config/wofi/
.config/wofi/**
install-hyprland.sh
{{ end }}

{{ if ne .wm "i3" }}
.config/i3/
.config/i3/**
.config/polybar/
.config/polybar/**
.config/rofi/
.config/rofi/**
.config/picom/
.config/picom/**
.xsession
install-i3.sh
{{ end }}

{{ if eq .wm "none" }}
.config/dunst/
.config/dunst/**
.config/wallpaper/
.config/wallpaper/**
.config/autostart/
.config/autostart/**
install-desktop-runtime.sh
{{ end }}

# --- Windows ---

{{ if eq .chezmoi.os "windows" }}
.config/kitty/
.config/kitty/**
.config/yazi/
.config/yazi/**
.config/home-manager/
.config/home-manager/**
.inputrc
.tmux.conf
bootstrap.sh
apply-home-manager.sh
bat-build-cache.sh
install-desktop-runtime.sh
install-hyprland.sh
install-i3.sh
{{ end }}
