# ~/.bashrc: managed by chezmoi (Windows only; Linux .bashrc owned by Home Manager)
{{- if eq .chezmoi.os "windows" }}

# If not running interactively, do nothing.
case $- in
    *i*) ;;
    *) return ;;
esac

set -o vi
HISTCONTROL=ignoreboth:erasedups
HISTSIZE=10000
HISTFILESIZE=20000
shopt -s histappend checkwinsize

..() { cd ..; }
...() { cd ../..; }
....() { cd ../../..; }
.....() { cd ../../../..; }
......() { cd ../../../../..; }

alias lg='lazygit'

case ";${PROMPT_COMMAND:-};" in
    *";history -a; history -n;"*) ;;
    *)
        if [ -n "${PROMPT_COMMAND:-}" ]; then
            PROMPT_COMMAND="history -a; history -n; $PROMPT_COMMAND"
        else
            PROMPT_COMMAND="history -a; history -n"
        fi
        ;;
esac
export PROMPT_COMMAND

{{ if eq .workspace "work" -}}
alias nvn='cd "{{ .chezmoi.homeDir }}/OneDrive - Helbling Holding AG/documents/Notes" && nvim'
{{ end -}}

export EDITOR="nvim"
export VISUAL="nvim"

eval "$('/c/excprog/starship/starship.exe' init bash)"
eval "$('/c/excprog/zoxide/zoxide.exe' init bash)"
{{ end -}}
