[user]
	name = {{ .git.userName | quote }}
	email = {{ .git.userEmail | quote }}
[init]
	defaultBranch = main
[include]
	path = ~/.config/delta/catppuccin.gitconfig
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
