{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

set -e
set -u

TMP_FILE=""

function cleanup() {
    if [[ -f "$TMP_FILE" ]]; then
        rm -f "$TMP_FILE"
    fi
}

trap cleanup EXIT

function die() {
    echo -e "$@" >&2
    exit 1
}

# currently unused
# ================
# build-essential
# fd-find
# golang-go
# gparted
# imagemagick
# signal-desktop
# steam:i386

echo "Updating package lists for apt"
sudo apt-get update

echo "Install packages with apt-get."
sudo apt-get install -y \
    bat \
    curl \
    ffmpeg \
    firefox \
    fzf \
    gimp \
    git \
    git-lfs \
    gnome-tweaks \
    htop \
    fonts-powerline \
    grep \
    inkscape \
    python3-pip \
    python3-venv \
    ripgrep \
    tmux \
    vlc \
    woff2 \
    zoxide || {
    echo "Could not install packages with 'apt-get'. "
    exit 1
}

# git lfs needs to be installed like this
git lfs install

# Install Homebrew (Linuxbrew)
if ! command -v brew &>/dev/null; then
    echo "Installing Homebrew..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    echo "Homebrew already installed."
fi

# Install yazi and dependencies
packages=(
    yazi
    # ffmpeg # (for video thumbnails)
    sevenzip # (for archive extraction and preview)
    jq       # (for JSON preview)
    poppler  # (for PDF preview) [!huge amount of dependencies!]
    fd       # (for file searching)
    # ripgrep # (for file content searching)
    # fzf # (for quick file subtree navigation)
    # zoxide # (for historical directories navigation, requires fzf)
    resvg       # (for SVG preview)
    imagemagick # (for Font, HEIC, and JPEG XL preview)
)

for pkg in "${packages[@]}"; do
    if ! brew list --formula --versions "$pkg" &>/dev/null; then
        echo "Installing $pkg..."
        brew install "$pkg" || die "Could not install $pkg."
    else
        echo "$pkg already installed."
    fi
done

# Install VS Code
if ! command -v code &>/dev/null; then
    echo "Installing VS Code..."
    sudo apt-get -y install wget gpg apt-transport-https
    wget -qO- https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor >packages.microsoft.gpg
    sudo install -D -o root -g root -m 644 packages.microsoft.gpg /etc/apt/keyrings/packages.microsoft.gpg
    echo "deb [arch=amd64,arm64,armhf signed-by=/etc/apt/keyrings/packages.microsoft.gpg] https://packages.microsoft.com/repos/code stable main" | sudo tee /etc/apt/sources.list.d/vscode.list >/dev/null
    rm -f packages.microsoft.gpg

    sudo apt update
    sudo apt install -y code || die "Could not install VS Code."

else
    echo "VS Code already installed."
fi

# Install Google Chrome
if ! command -v google-chrome &>/dev/null; then
    echo "Installing Google Chrome..."
    TMP_FILE=$(mktemp)
    curl -L https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb -o "$TMP_FILE"
    sudo dpkg -i "$TMP_FILE"
    sudo apt -f install -y || die "Could not fix dependencies for Google Chrome."
    rm -f "$TMP_FILE"
else
    echo "Google Chrome already installed."
fi

# Install Kitty terminal
if ! command -v kitty &>/dev/null; then
    echo "Installing Kitty..."
    curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin || die "Could not install kitty."
    mkdir -p ~/.local/bin
    ln -sf ~/.local/kitty.app/bin/kitty ~/.local/bin/kitty
else
    echo "Kitty already installed."
fi

# Install uv (Rust Python package manager)
# Note: Could be installed using brew install uv
if ! command -v uv &>/dev/null; then
    echo "Installing uv..."
    curl -Ls https://astral.sh/uv/install.sh | sh || die "Could not install uv."

else
    echo "uv already installed."
fi

# Install Node.js & npm via NodeSource
# Note: Could be installed using brew install node (also installs npm)
if ! command -v node &>/dev/null || ! command -v npm &>/dev/null; then
    echo "Installing Node.js & npm from NodeSource..."
    curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
    sudo apt install -y nodejs || die "Could not install node.js and npm."

else
    echo "Node.js and npm already installed."
fi

{{ end }}
