{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

# Set Zsh as default shell if not already
if [ "$SHELL" != "$(command -v zsh)" ]; then
    echo "Setting Zsh as default shell..."
    chsh -s "$(command -v zsh)"
else
    echo "Zsh is already the default shell."
fi

{{ end }}
