[user]
{{ if eq .workspace "private" -}}
    name = mi-b
    email = mikebaumann@bluewin.ch
{{ else -}}
    name = mib
    email = michael.baumann@helbling.ch
{{ end -}}

[alias]
    pushf = push --force-with-lease
    s = status --short --branch
    l = log --oneline --decorate --graph -20
    ll = log --oneline --decorate --graph --all
    last = log -1 HEAD --stat
    unstage = restore --staged
    discard = restore
    amend = commit --amend --no-edit
    branches = branch --sort=-committerdate
    recent = for-each-ref --sort=-committerdate refs/heads/ --format='%(refname:short) %(committerdate:relative)'

[core]
    autocrlf = input

[init]
    defaultBranch = main

[column]
    ui = auto

[branch]
    sort = -committerdate

[pull]
    rebase = true

[merge]
    conflictStyle = zdiff3

[rerere]
    enabled = true
    autoUpdate = true

[diff]
    algorithm = histogram
    colorMoved = default

[fetch]
    prune = true

[push]
    recurseSubmodules = check
    autoSetupRemote = true
    useForceIfIncludes = true

[submodule]
    recurse = true

[transfer]
    fsckObjects = true

[tag]
    sort = version:refname
